# -------------------------------------------------------------------
# PyCharm / JetBrains
# -------------------------------------------------------------------
.idea/
*.iml

# -------------------------------------------------------------------
# GERAL: Python
# -------------------------------------------------------------------

# Byte-compilados / Otimizados
__pycache__/
*.pyc
*.pyd
*.pyo

# Ambientes virtuais (os nomes mais comuns)
venv/
env/
.venv/
.env/
*/venv/
*/env/

# Logs e Dados temporários
*.log
*.sqlite3       # O banco de dados SQLite de desenvolvimento

# Arquivos de Distribuição e Empacotamento
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
.installed.cfg

# Relatórios de Teste e Cobertura
.tox/
.coverage
htmlcov/

# Python Tools e Configurações
.mypy_cache/
.pytest_cache/

# PyCharm / JetBrains
.idea/
*.iml
.vscode/

.env
.env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
.DS_Store